<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Movies</title>
    <link rel="stylesheet" href="home.css" />
  </head>
  <body>
    <div style="float:right;">
    <form action="/search" method="get">
    <label for="query">Search: </label>
    <input type="text" name="query" id="query" />
    <input type="submit" value="Search" />
    </form>
    </div>
    <p><a href="/movies">Back to movies</a></p>
    </div>
    <% @movies.each do |movie| %>
      <% if movie[:id] == params[:id] %>
        <h1><%= movie[:title] %></h1>
        <p>Year: <%= movie[:year] %></p>
        <p>Genre: <%= movie[:genre] %></p>
        <p>Rating: <%= movie[:rating] %></p>
        <p>Studio: <%= movie[:studio] %></p>
        <p>Synopsis: <%= movie[:synopsis] %></p>
      <% end %>
    <% end %>
  </body>
</html>
