<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Actors</title>
    <link rel="stylesheet" href="home.css" />
  </head>
  <body>
    <div style="float:right;">
    <form action="/search" method="get">
    <label for="query">Search: </label>
    <input type="text" name="query" id="query" />
    <input type="submit" value="Search" />
    </form>
    </div>
    <h1>Actors</h1>
    <ul>
    <% @actors.each do |actor| %>
      <li><a href= "/actors/<%="#{actor['name']}"%>/<%="#{actor['id']}"%>"><%= actor["name"] %></a></li>
    <% end %>
    </ul>
    <a href="/actors?page=<%= @return_page %>">Page <%= @return_page %></a>
    <a href="/actors?page=<%= @page_number %>">Page <%= @page_number %></a>
  </body>
</html>
