<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Movies</title>
    <link rel="stylesheet" href="home.css" />
  </head>
  <body>
    <div style="float:right;">
    <form action="/search" method="get">
    <label for="query">Search: </label>
    <input type="text" name="query" id="query" />
    <input type="submit" value="Search" />
    </form>
    </div>
    <h1>Movies</h1>
    <table style="width:1100px;text-align:left;">
      <tr>
        <td>Title:</td>
        <td>Year:</td>
        <td>Rating:</td>
        <td>Genre:</td>
        <td>Studio:</td>
      </tr>

    <% @movies.each do |movie| %>
      <tr>
        <td><a href="/movies/<%="#{movie['title']}"%>/<%="#{movie['id']}"%>"><%= movie["title"] %></a></td>
        <td><%= movie['year'] %></td>
        <td><%= movie['rating'] %></td>
        <td><%= movie['genre'] %></td>
        <td><%= movie['studio'] %></td>
        </tr>
    <% end %>
    </table>
    <a href="/movies?page=<%= @return_page %>">Page <%= @return_page %></a>
    <a href="/movies?page=<%= @page_number %>">Page <%= @page_number %></a>
  </body>
</html>
