<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Movies</title>
    <link rel="stylesheet" href="home.css" />
  </head>
  <body>
    <div style="float:right;">
    <form action="/search/movies" method="get">
      <label for="query_m">Search Movies: </label>
      <input type="text" name="query_m" id="query_m" />
      <input type="submit" value="Search" />
    </form>
    <form action="/search/actors" method="get">
      <label for="query_a">Search Actors: </label>
      <input type="text" name="query_a" id="query_a" />
      <input type="submit" value="Search" />
    </form>
    </div>
    <p><a href="/movies">Back to movies</a></p>
    <p><a href="/actors">Back to actors</a></p>


    <% @movies.each do |movie| %>
        <h1><%= movie['title'] %></h1>
        <p>Year: <%= movie['year'] %></p>
        <p>Genre: <%= movie['genre'] %></p>
        <p>Rating: <%= movie['rating'] %></p>
        <p>Studio: <%= movie['studio'] %></p>
        <p>Synopsis: <%= movie['synopsis'] %></p>
        <p>Actors:</p>
        <ul>
        <% @actors.each do |actor| %>
            <li><a href="/actors/<%="#{actor['id']}"%>"><%= actor['actor']%></a> --- <%= actor['character']%></li>
          <%end%>
        </ul>

    <% end %>

  </body>
</html>
